.about {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  padding-top: 14rem;
  padding-bottom: 4rem;
}

.aboutIntro {
  width: 80%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  text-align: center;
}

.aboutSectionContainer {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.aboutSection {
  width: 80%;
  display: flex;
  margin: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.aboutSectionTitle {
  flex: 40%;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.aboutSectionBody {
  flex: 60%;
  text-align: center;
}

.aboutSectionContainer p {
  color: black;
}

.aboutNumbersSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.historySection {
  width: 80%;
  display: flex;
  margin: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.historyInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.historyInfo p {
  color: black;
}

.ourValuesSection {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.ourValuesList {
  padding-left: 10%;
  padding-right: 10%;
  display: flex;
  gap: 35px;
}

.ourValuesList p {
  color: black;
}

.valueInfo {
  flex: 25%;
  display: flex;
  flex-direction: column;
}

.faqSection {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 70px;
}

.faqSectionHeader {
  width: 40%;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.faqContainer {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
}

@media only screen and (max-width: 850px) {
  .ourValuesList {
    width: 80%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
  }

  .faqSection {
    flex-direction: column;
    gap: 10px;
  }

  .faqSectionHeader {
    align-items: center;
    width: 80%;
  }

  .faqContainer {
    width: 80%;
  }
}
