.contact {
  width: 100%;
  flex: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 200px;
  padding-bottom: 100px;
  gap: 3rem;
}

.contactHeader {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 1rem;
}

.contactBody {
  width: 80%;
  display: flex;
  flex-direction: row;
}

.contactBody .leftSide {
  flex: 50%;
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.5);
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  border-radius: 20px;
}

.leftSideInfo {
  height: 40%;
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-top: 60px;
  margin-left: 60px;
}

.leftSideInfo p {
  color: black;
  margin-top: 1px;
}

.contact .rightSide {
  height: 70vh;
  flex: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mapsContainer {
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px;
}

@media only screen and (max-width: 768px) {
  .contactBody {
    width: 80%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
  }
}
