.footer {
  width: 100%;
  background: linear-gradient(to bottom, rgb(255, 255, 255, 0), black);
  display: flex;
  flex-direction: column;
}

.footer p {
  color: white;
  font-size: small;
}

.footerEnd {
  background-color: white;
  padding-left: 130px;
}

.footerEnd p {
  color: black;
  font-size: x-small;
}

.footerContent {
  display: flex;
  margin-left: 100px;
  gap: 120px;
  justify-content: center;
}

.footerSection1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footerSection2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footerSection3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footerLinks {
  height: 20vh;
  display: flex;
  gap: 70px;
  align-items: center;
  justify-content: center;
}

.footerLinks a {
  color: white;
  text-decoration: none;
  font-size: 15px;
}

.footerLinks a::after {
  content: "";
  display: block;
  margin-top: 7px;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 1px;
  background-color: white;
  transition: width 0.5s ease; /* Add a transition for the underline effect */
}

.footerLinks a:hover::after {
  width: 100%; /* Expand the underline on hover */
}

.footerLinks a:hover {
  transform: scale(1.1); /* Scale the element on hover */
}
