.home {
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  padding-top: 150px;
  padding-bottom: 100px;
}

.headerContainer {
  padding-top: 50px;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.headerContainer h1 {
  font-size: 3rem;
  font-weight: 50;
  color: white;
}

.home button {
  border: none;
  border-radius: 5px;
  justify-content: center;
  background-color: #121619;
  height: 50px;
  width: 180px;
  color: white;
  font-size: 15px;
}

.home button:hover {
  background-color: #07090a;
  cursor: pointer;
  transition: 0.3s ease-in;
}

.home .collageContainer {
  display: flex;
  width: 100%;
  padding: 4% 2%;
  box-sizing: border-box;
  height: 50vh;
}

.home .collageBox {
  flex: 1;
  overflow: hidden;
  transition: 0.5s;
  margin: 0 2%;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
  line-height: 0;
}

.home .collageBox > img {
  width: 200%;
  height: calc(100% - 5vh);
  object-fit: cover;
  transition: 0.5s;
}

.home .collageBox > span {
  font-size: 2vh;
  color: white;
  display: block;
  text-align: center;
  height: 5vh;
  line-height: 2.6;
}

.home .collageBox:hover {
  flex: 1 1 50%;
  transition: 1.5s;
}

.home .collageBox:hover > img {
  width: 100%;
  height: 100%;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    padding-top: 25px;
  }

  100% {
    opacity: 1;
    padding-top: 0;
  }
}
