.navbar {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  font-size: small;
  position: fixed;
  background: linear-gradient(
    to bottom,
    rgba(1, 35, 83, 0.5),
    rgba(255, 255, 255, 0)
  );
  opacity: 1.1;
  z-index: 1000;
}

.navbarTitle a {
  font-size: large;
  color: white;
  padding-left: 20px;
  text-decoration: none;
}

.navbar .leftSide {
  flex: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 150px;
}

.navbar .leftSide img {
  width: 100px;
  border-radius: 7px;
}

.navbar .rightSide {
  flex: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar .rightSide a {
  color: white;
  text-decoration: none;
  margin: 20px;
}

.navbar .rightSide a::after {
  content: "";
  display: block;
  bottom: -2px;
  margin-top: 5px;
  left: 0;
  width: 0;
  height: 1px;
  background-color: white;
  transition: width 0.5s ease; /* Add a transition for the underline effect */
}

.navbar .rightSide a:hover::after {
  width: 100%; /* Expand the underline on hover */
}

.navbar .rightSide a:hover {
  transform: scale(1.1); /* Scale the element on hover */
}

.navbar .rightSide button {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
}

.navbar .rightSide svg {
  font-size: 40px;
}

.navbar #open {
  padding-left: 0px;
}
.navbar #open img {
  display: none;
}

.navbar #close img {
  display: inherit;
}

.navbar #open .hiddenLinks {
  display: inherit;
  margin-left: 30px;
}

.navbar #close .hiddenLinks {
  display: none;
}

.navbar #open a {
  width: 70px;
  margin: 5px;
}

@media only screen and (max-width: 900px) {
  .navbar .rightSide a {
    width: 70px;
  }
  .navbar .leftSide {
    padding-left: 50px;
  }
}

@media only screen and (max-width: 1000px) {
  .navbar .rightSide a {
    display: none;
  }

  .navbar .rightSide {
    justify-content: flex-end;
    padding-right: 50px;
  }

  .navbar .rightSide button {
    display: inherit;
  }
}

@media only screen and (min-width: 1000px) {
  .navbar .rightSide button {
    display: none;
  }

  .hiddenLinks {
    display: none;
  }
}
